.footer-container{
    background-color: #595957;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .footer-copyright{
        width: 658px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .footer-copyright-text{
            color: white;
            font-size: 18px;
        }
     
    }
    .footer-nav{
        width: 1268px;
        display: flex;
        flex-direction: row;
        a{
            color: white;
            font-size: 18px;
        }
    }
}
