.main-component {
  height: 100%;
  width: 100%;
  background-image: url("../assets/Images/Ellipse 8@2x.png"), url("../assets/Images/filed-logo-01@2x.png"),
    url("../assets/Images/RepeatGrid2@2x.png"), url("../assets/Images/Ellipse 11@2x.png"), url("../assets/Images/Ellipse 10@2x.png"),
    url("../assets/Images/Ellipse 9@2x.png"), url("../assets/Images/blueRepeatGrid2@2x.png");
  background-position: 61.7% 15.5%, 9.9% 12.6%, 93% 17%, 50% 45%, 46.5% 53%, 44% 58%, 10% 59.5%;

  background-repeat: no-repeat;
  background-size: auto 30%, auto 5%, auto 13.1%, auto 7%, auto 3.5%, auto 2%, auto 17%;

  .button-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .nav-button {
      background-color: var(--Button-color);
      color: white;
      width: 26rem;
      height: 3em;
      border-radius: 16rem;
      font-size: 2em;
    }
  }

  .image-position {
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
  }

}

@media only screen and (max-width: 1920px) {

  .main-component {
    height: 100%;
    width: 100%;
    background-image: url("../assets/Images/Ellipse 8@2x.png"), url("../assets/Images/filed-logo-01@2x.png"),
      url("../assets/Images/RepeatGrid2@2x.png"), url("../assets/Images/Ellipse 11@2x.png"), url("../assets/Images/Ellipse 10@2x.png"),
      url("../assets/Images/Ellipse 9@2x.png"), url("../assets/Images/blueRepeatGrid2@2x.png");
    background-position: 61.7% 15.5%, 9.9% 12.6%, 93% 17%, 50% 42%, 46.5% 50%, 44% 56%, 10% 59.5%;
    background-repeat: no-repeat;
    background-size: auto 30%, auto 5%, auto 13.1%, auto 9%, auto 5.5%, auto 4%, auto 17%;

    .button-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .nav-button {
        background-color: var(--Button-color);
        color: white;
        width: 26rem;
        height: 3em;
        border-radius: 16rem;
        font-size: 2em;
      }
    }

    .image-position {
      background-repeat: no-repeat;
      position: absolute;
      z-index: -1;
    }

  }
}


@media only screen and (max-width: 1024px) {
    .main-component {
        height: 101%;
        width: 100%;
        background-image: url("../assets/Images/Subtraction 19@2x.png"), url("../assets/Images/Group 350@2x.png");
        background-repeat: no-repeat;
        background-position: right top, left 11px bottom;
        background-size: auto 22%, auto 11%;
    
        .button-container {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
    
          .nav-button {
            background-color: var(--Button-color);
            color: white;
            width: 16rem;
            height: 3em;
            border-radius: 16rem;
            font-size: 2em;
          }
        }
    
      }
}

@media only screen and (max-width: 768px) {
    .main-component {
        height: 101%;
        width: 100%;
        background-image: url("../assets/Images/Subtraction 19@2x.png"), url("../assets/Images/Group 350@2x.png");
        background-repeat: no-repeat;
        background-position: right top, left 11px bottom;
        background-size: auto 22%, auto 11%;
    
        .button-container {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
    
          .nav-button {
            background-color: var(--Button-color);
            color: white;
            width: 16rem;
            height: 3em;
            border-radius: 16rem;
            font-size: 2em;
          }
        }
    
      }
}

@media only screen and (max-width: 480px) {
  .main-component {
    height: 101%;
    width: 100%;
    background-image: url("../assets/Images/Subtraction 19@2x.png"), url("../assets/Images/Group 350@2x.png");
    background-repeat: no-repeat;
    background-position: right top, left 11px bottom;
    background-size: auto 22%, auto 11%;

    .button-container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .nav-button {
        background-color: var(--Button-color);
        color: white;
        width: 14rem;
        height: 2em;
        border-radius: 16rem;
        font-size: 1.5em;
      }
    }

  }
}
