/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --Blue-text: #38CCF5;
    --orange-text:#FF6E4E;
    --Button-color: #FF6E4E;
}
