<div class="booking">
    <div class="booking-form-info">
        <div class="booking-info">
            <div class="booking-header-container">
                <h1 class="booking-header desktop-content"> Book a demo today and <br> get two weeks for <span class="blue-text" >free.</span> Why?</h1>
                <h1 class="booking-header mobile-content"> Book a demo today <br> and get two weeks for <br><span class="orange-text" >free.</span> Why?</h1>

            </div>
            <div class="booking-para-container">
                <p class="booking-para"> Because Our AI-Powered Software <br> Will Exceed Your MArketing Goals.</p>
            </div>
            <div class="booking-image-container">
                <img class="booking-image" src="../../assets/Images/Artboard 1@2x.png">
            </div>
        </div>
            <app-form-card>       </app-form-card>              
    </div>
    <div class="info">
        <div class="info-para-container">
            <p class="info-para" >Our Offer: Intelligent Automation. Real-Time Insights. Unparalleled Results.</p>
        </div>
    </div>
    <div class="benefit">
        <div class="benefit-heading">
            <h1 class="benefit-heading-text">The <span class="blue-text">Benifits</span> of using Filed </h1>
        </div>
        <div class="benefit-list">
            <div class="benefits-item">
                <img src="../../assets/Images/Icon awesome-check-2@2x.png" class="benefits-item-image">
                <p class="benefits-item-text">Ability to scale using Dexter, our AI-powered marketing genius </p>
            </div>
            <div class="benefits-item">
                <img src="../../assets/Images/Icon awesome-check-2@2x.png" class="benefits-item-image">
                <p class="benefits-item-text desktop-content">Client Success Manager who will optimize your Facebook ad <br> campaigns and focus on driving the best possible results for you</p>
                <p class="benefits-item-text mobile-content">Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you</p>
            </div>
            <div class="benefits-item">
                <img src="../../assets/Images/Icon awesome-check-2@2x.png" class="benefits-item-image">
                <p class="benefits-item-text">This is a limited time offer</p>
            </div >
        </div>

    </div>
    <div class="testamonials">
        <div class="testamonial-container">

            <div class="testamonial-title-container">
                <img class="testamonial-title-image" src="../../assets/Images/Icon material-format-quote@2x.png">
                <div class="testamonial-title-text-container">
                    <p class="testamonial-title-text">"It surpassed our expectations"</p>

                </div>
            </div>
            <div class="testamonial-para-container">
                <p class="testamonial-para">"Filed has completely surpassed our expectations. I will refer everyone i know. Filed is worth much more than i paid."</p>
            </div>
            <div class="testamonial-user-container">
                <img class="testamonial-user-image" src="../../assets/Images/christopher-campbell-rDEOVtE7vOs-unsplash.jpg">
                <div class="testamonial-user-title">
                    <p class="testamonial-user-name">Tania Y.</p>
                    <p class="testamonial-user-role">Flexi Content @hello</p>
                </div>
            </div>

            <!-- <div class="testamonial-title-container">
                <div class="testamonial-logo">
                
                </div>
                <div class="testamonial-title">
                
                </div>
            </div>
            <div class="">
                
            </div>
            <div>
                <div>
                
                </div>
            </div> -->
        </div>
        <div class="testamonial-container">

            <div class="testamonial-title-container">
                <img class="testamonial-title-image" src="../../assets/Images/Icon material-format-quote@2x.png">
                <div class="testamonial-title-text-container">
                    <p class="testamonial-title-text">"The essential marketing tool"</p>

                </div>
            </div>
            <div class="testamonial-para-container">
                <p class="testamonial-para">“Filed is the most valuable business resource we have EVER purchased. I was amazed at the quality of filed. We were treated like royalty.”</p>
            </div>
            <div class="testamonial-user-container">
                <img class="testamonial-user-image" src="../../assets/Images/craig-mckay-jmURdhtm7Ng-unsplash.jpg">
                <div class="testamonial-user-title">
                    <p class="testamonial-user-name">Jack Francis </p>
                    <p class="testamonial-user-role">Manager @ Accidents Direct</p>
                </div>
            </div>

        </div>
        <div class="testamonial-container">

            <div class="testamonial-title-container">
                <img class="testamonial-title-image" src="../../assets/Images/Icon material-format-quote@2x.png">
                <div class="testamonial-title-text-container">
                    <p class="testamonial-title-text">“Your company is truly upstanding”</p>

                </div>
            </div>
            <div class="testamonial-para-container">
                <p class="testamonial-para">“The service was excellent. After using filed my business skyrocketed! It really saves me time and effort.”</p>
            </div>
            <div class="testamonial-user-container">
                <img class="testamonial-user-image" src="../../assets/Images/sergio-de-paula-c_GmwfHBDzk-unsplash.jpg">
                <div class="testamonial-user-title">
                    <p class="testamonial-user-name">Dawna N.</p>
                    <p class="testamonial-user-role">Editor @ Museum of Typography</p>
                </div>
            </div>

        </div>
    </div>
</div>
